# It is recommended that django migrations NOT be excluded from commits, but
# that makes no sense when we're excluding the database: 'git checkout <branch>'
# can replace one but not the other.
db.sqlite3
kroftig/migrations/

project/__pycache__/
kroftig/__pycache__/

README.html
